body {
    background-color: aquamarine;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.scoreBoard, .choices {
    padding: 5px;
}

h1, h2, h3 {
    margin: 0;
}

.scores {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.score {
    width: 200px;
    height: 250px;
    border: 3px solid peru;
    font-size: 200px;
    vertical-align: middle;
}

.choices button{    
    margin-top: 10px;
    background-color: aquamarine;
    border: 2px solid aquamarine;
    padding: 10px;
}

button:active {
    transform: scale(1.2);
}

img {
    width: 150px;
}

.message {
    font-size: larger;
    font-weight: bold;
}